.ms-10 {
    margin-left: 200px;
}

.bg-pink {
    background-color: #FFF9F4;
}

.text-head-orange {
    color: #FA804C;
}

.text-head-dark {
    color: #363958;
}

.bg-casual {
    background-color: #F1F1F1;
}

.card-height {
    height: 400px;
}